.project-container ul, li{
    margin: 0;
    padding: 0;
}

.projects li{
    list-style: none;
    height: 250px;
    width: 100%;
}

.projects li img.cover{
    height: 70%;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.projects li div.tech{
    width: 100%;
    height: auto;
    background: #242424;
    padding: 10px;
    border-radius: 0 0 10px 10px;
}

.projects li div.tech h3{
    font-size: 14px;
}

.projects li div.tech div.tech-img{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.projects li div.tech a{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}