.toggle{
    background-color: transparent;
    border: none;
    outline: none;
}

.sidenav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 250px;
    overflow-x: hidden;
    transform: translateX(-250px);
    transition: transform 0.3s ease;
    z-index: 1;
  }
  
  .sidenav.open {
    transform: translateX(0);
  }
  
  .sidenav ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidenav li {
    padding: 8px 16px;
  }
  
  .sidenav li .a {
    text-decoration: none;
    display: block;
    padding: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .sidenav li:hover {
    background-color: #575757;
  }
  
  .sidenav-toggle {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #111;
    color: white;
    border: none;
    padding: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .sidenav-toggle:hover {
    background-color: #575757;
  }