@tailwind base;
@tailwind components;
@tailwind utilities;

.eee{
    background: linear-gradient(#161414, #000000);
    color: #eee;
}

.aaa{
    background: linear-gradient(#eee, #d5d5d5);
    color: #161414;
}